<table>
<head>
<tr>
<th>image</th>
<th>Fullname</th>
<th>Email</th>
</tr>
</head>
<body>
<% @users.each do |user| %>
	<tr>
	<td><%= image_tag user.image.url(:thumb)%> </td>
	<td><%= user.fullname%> </td>
	<td><%= user.email %> </td>

	</tr>
	<%end%>
	</body>
	</table>
	<%= will_paginate @users %>